*{
  border: solid 1px red;
}


body{
  margin: 0;
  background-color: #0C1E2D;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

#root{
  background-color: #F4F2F4;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-radius: .5em;
  text-align: center;
  width: 50%;
  min-width: 470px;


}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  --box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.23), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

#game-header{
  font-size: 3em;
}

.dices-container{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5,80px);
  grid-template-rows: repeat(2, 80px);
  padding: 10px;
  

  
}

#dice-btn{
   box-shadow: var(--box-shadow);
   background-color: white;
   font-weight: bold;
   border:none;
   border-radius: 10px;
   height: 5em;
   width: 5em;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1em;
}

#roll-btn{
 color: white;
 background-color: blue;
 height: 50px;
 width: 100px;
 border: none;
 border-radius: 5px;
 box-shadow: var(--box-shadow);
 margin-top: 30px;
}

